h2{
    text-align: center;
    font-size: 32px;
}

form#chat {
    display: block;
    margin: auto;
    text-align: center;
    width: 664px;
    height: 577px;
    margin-top: -4px;
    background-color: #FA5858;
    box-shadow: 0 0 10px #666;
    border-radius: 5px;
}

h3{
    text-align: center;
    font-size: 25px;
    color: #666;
}

a{
    color: #FFF !important;
    text-decoration: none;
}

div#box{
    display: block;
    margin: auto;
    width: 650px;
    height: 400px;
}

div#send{
    display: block;
    margin: auto;
    width: 700px;
    text-align: center;
    font-size: 20px;
}

div#send input[name="image"]{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background: #007fff;
    color: #FFF;
    cursor: pointer;
}

div#send input[name="text"]{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 10px;
}

div#send input[name="send"]{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background: #007fff;
    color: #FFF;
    cursor: pointer;
}