*{
    font-family: 'Montserrat', cursive;
    margin: 0;
}

body{
    background: #F6F6F6;
}

div#topo{
    width: 100%;
    top: 0;
    background: #FFF;
    box-shadow: 0 0 10px #000;
    height: 80px;
}

div#topo img[name="logo"]{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 164px;
}

div#topo img[name="menu"]{
    float: right;
    margin-right: 25px;
    margin-top: -22px;
}

div#topo input[type="text"]{
    display: block;
    margin: auto;
    width: 300px;
    border: none;
    border-radius: 3px;
    background: #F6F6F6;
    height: 25px;
    padding-left: 10px;
    box-shadow: inset 0 0 6px #666;
}

div#topo form{
    width: 300px;
    display: block;
    margin: auto;
    padding-top: 22px;
}

div#footer{
    bottom: 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    /* top: 0; */
    left: 0;
    right: 0;
    height: 57px;
    box-shadow: 0 0 2px #000;
}

.conteudo{
    text-align: center;
    color: #666;
    margin-top: 19px;
}

#notificacao {
    float: right;
    margin-right: 25px;
    margin-top: -22px;
    width: 29px;
    font-size: 35px;
}

#logout {
    float: right;
    margin-right: 25px;
    margin-top: -25px;
    width: 40px;
    font-size: 33px;
    color: #fa5858;
}

img.pedidos {
    height: 51px;
    width: 51px;
    margin-top: -29px !important;
}

.beta {
    position: fixed;
    top: 36px;
    left: 172px;
    color: #fa5858;
    font-weight: 900;
}