a{
    text-decoration: none;
}

div#box p{
    text-align: center;
    cursor: pointer;
    color: #333;
}

div#box p:hover{
    color: #007fff;
}

div#box{
    min-width: 100px;
    max-width: 500px;
    display: block;
    margin: auto;
}

div#box:hover{
    box-shadow: inset 0 0 6px #AAA;
    border-radius: 5px;
}

hr{
    width: 400px;
    display: block;
    margin: auto;
    border: 1px solid #555;
}

h1{
    text-align: center;
    color: #007fff;
}

h3{
    text-align: center;
    color: #AAA;
}