div#publish{
    width: 570px;
    height: 260px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 0 6px #A1A1A1;
    margin-top: 30px;
}

input[type=file] {
    display: none !important;
}

div#publish textarea{
    width: 539px;
    height: 190px;
    display: block;
    margin: auto;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-width: 1px;
    border-color: #A1A1A1;
}

div#publish img{margin-top: 0px;
    margin-left: 10px;
    width: 40px;
    cursor: pointer;
}

div#publish input[type="submit"]{width: 70px;
    height: 25px;
    border-radius: 3px;
    float: right;
    margin-right: 15px;
    border: none;
    margin-top: 5px;
    background: #4169E1;
    color: #FFF;
    cursor: pointer;
}

div#publish input[type="submit"]:hover{background: #001F3F;
}


div.pub{
    width: 570px;
    min-height: 70px;
    max-height: 1000px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0 6px #A1A1A1;
    margin-top: 30px;
}

div.pub a{color: #666;
    text-decoration: none;
}

div.pub a:hover{color: #111;
    text-decoration: none;
}

div.pub p{
    margin-left: 10px;
    content: #666;
    padding-top: 10px;
}

div.pub span{
    display: block;
    margin: auto;
    width: 548px;
    margin-top: 10px;
}

div.pub img{display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


div#love{
    width: 572px;
    height: 41px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    background: #fa5858;
    margin-top: 5px;
}

div#love p{
    color: #FFF;
    font-size: 15px;
    padding-top: 8px;
    padding-left: 11px;
}

div#love a{
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
}

#comentar{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    width: 13px;

}
