*{
    font-family: 'Montserrat', cursive;
}

img{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 200px;
}

form{
    text-align: center;
    margin-top: 20px;
}

input[type="email"]{
    border: 1px solid #CCC;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    border-radius: 3px;
}

input[type="password"]{
    border: 1px solid #CCC;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

input[type="submit"]{
    border: none;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border-radius: 3px;
}

input[type="submit"]:hover{
    background-color: #1E90FF;
    color: #FFF;
    cursor: pointer;
}

h2{
    text-align: center;
    margin-top: 20px;
}

h3{
    text-align: center;
    margin-top: 15px;
}

h3.error {
    color: #ff0019 !important;
}

h4{
    text-align: center;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: #1E90FF;
}

hr{
    width: 50%;
}