h2{
    text-align: center;
    padding-top: 30px;
    color: #FFF;
}

img#profile{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 5px solid #fa5858;
    background-color: #fa5858;
    border-radius: 10px;
    margin-bottom: -30px;
}

div#menu{
    width: 300px;
    height: 120px;display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #fa5858;
    text-align: center;
}

div#menu input{
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: #FFF;
    cursor: pointer;
}

div#menu input[name="settings"]{
    margin-right: 40px;
}

div#menu input:hover{
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    color: #FFF;
}

div.pub{
    width: 400px;
    min-height: 70px;
    max-height: 1000px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0 6px #A1A1A1;
    margin-top: 30px;
}

div.pub a{
    color: #666;
    text-decoration: none;
}

div.pub a:hover{
    color: #111;
    text-decoration: none;
}

div.pub p{
    margin-left: 10px;
    content: #666;
    padding-top: 10px;
}

div.pub span{
    display: block;
    margin: auto;
    width: 380px;
    margin-top: 10px;
}

div.pub img{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
