div.pub{
    width: 400px;
    min-height: 70px;
    max-height: 1000px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0 6px #A1A1A1;
    margin-top: 30px;
    text-align: center;
}

div.pub a{
    color: #666;
    text-decoration: none;
}

div.pub a:hover{
    color: #111;
    text-decoration: none;
}

div.pub p{
    content: #666;
    text-align: center;
}

div.pub span{
    display: block;
    margin: auto;
    padding-top: 20px;
    text-align: center;

}

div.pub input{
    border-radius: 3px;
    background-color: #007fff;
    border: none;
    color: #FFF;
    height: 25px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

div.pub input:hover{
    background-color: #FFF;
    color: #007fff;
}

h3{
    text-align: center;
    color: #007fff;
}

.alert-success {
   text-align: center!important;
    margin-left: 20% !important;
    margin-right: 20% !important;
    margin-top: 1% !important;

}