h3{
    text-align: center;
    font-size: 32px;
    color: #666;
}

h2{
    text-align: center;
    font-size: 46px;
    color: #666;
}

p[name="p"]{
    display: block;
    margin: auto;
    font-size: 20px;
    text-align: center;
    color: #FFF;
    max-width: 700px;
}

a[name="p"]{
    color: #111111;
    text-decoration: none;
}

hr{
    border: 1px solid #666;
    width: 500px;
    display: block;
    margin: auto;
}

.alert-danger {
    text-align: center!important;
    margin-left: 20% !important;
    margin-right: 20% !important;
    margin-top: 1% !important;
}

.alert-warning {
     text-align: center!important;
     margin-left: 20% !important;
     margin-right: 20% !important;
     margin-top: 1% !important;
 }
