body{
    background-color: #FFF;
}

h2{
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
}

form#perfil{
    display: block;
    margin: auto;
    text-align: center;
    width: 350px;
    margin-top: 20px;
    background-color: #fa5858;
    box-shadow: 0 0 10px #666;
    border-radius: 5px;
}

input[type="submit"]{
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: #007fff;
    cursor: pointer;
    color: #FFF;
}

p{
    color: #FFF;
    text-align: center;
}

input[type=file] {
    display: block;
    margin-left: 2%;
    color: FFF;
}

.h3, h3 {
    font-size: 24px;
    color: white;
}

input[type="submit"]{
    border: none;
    width: 154px;
    height: 30px;
    margin-top: 20px;
    border-radius: 3px;
}

input[type="submit"]:hover{
    background-color: #1E90FF;
    color: #FFF; cursor: pointer;
}

hr{
    margin-left: 20%;
    margin-right: 20%;
}